{% extends 'radmin/base.html' %}
{% load static %}
  

{% block content %}

                   
                    <form method="post" enctype="multipart/form-data">
                    	{% csrf_token %}
                        <div class="row">
                        

							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="card" style="border-radius: 30px;">
                                    <div class="card-header" style="background-color: #28a745; border-radius:30px 30px 0 0; color: #fff">Добавить экзамен</div>
                                    <div class="card-body">
                                            <div class="form-group">
                                                <label for="cc-payment" class="control-label mb-1">Предмет</label>
                                                <input id="cc-pament" name="title" type="text" class="form-control" aria-required="true" aria-invalid="false" required="required">
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="cc-name" class="control-label mb-1">Тип Экзамена</label>
                                                <input id="cc-name" name="exam_type" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter your email"
                                                    autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required="required">
                                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="cc-name" class="control-label mb-1">Поток</label>
                                                <input id="cc-name" name="batch" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter your phone"
                                                    autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required="required">
                                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                            </div>
                                            <div class="form-group has-success">
                                                <label for="cc-name" class="control-label mb-1">Продолжительнось(сек)</label>
                                                <input id="cc-name" name="duration" type="text" class="form-control cc-name valid" data-val="true" data-val-required="Please enter your phone"
                                                    autocomplete="cc-name" aria-required="true" aria-invalid="false" aria-describedby="cc-name-error" required="required">
                                                <span class="help-block field-validation-valid" data-valmsg-for="cc-name" data-valmsg-replace="true"></span>
                                            </div>
                                            <hr>
                                            <br />


                                        
                                    </div>
                                </div>
                            </div>
                                
                                
                                                                
                                
						</div>	
						
						<div class="row">
							<div class="col-lg-12 col-md-8 col-sm-6 col-xs-4">
                                <button id="payment-button" type="submit" class="btn btn-lg btn-block btn btn-success" style="border-radius: 30px;">
                                   <span id="payment-button-amount" class="btn btn-success" style="border-radius: 30px;">Следующая</span>
                                   <span id="payment-button-sending" style="display:none;">Отправка..</span>
                                </button>
                            </div>
						</div>
				 </form>

    <br />
  	
  	

        
       
{% endblock content %}
